@page
@model RazorWeb.Pages.Categories.DeleteModel
 

<form   method="post">
    <div class="border border-2 border-secondary p-5 ">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Category</h2>
            <hr class="border-2 border-dark" />
        </div>

        <input asp-for="category.Id" hidden />
        <div class="mb-3 pt-1 pb-1 row">
            <label class="form-label">Category Name</label>
            <input readonly asp-for="category.Name" type="text" class="form-control" />
        </div>
        <div class="mb-3 pt-1 pb-1 row">
            <label class="form-label">Display Order</label>
            <input readonly asp-for="category.DisplayOrder" type="text" class="form-control" />
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-danger form-control">Delete</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Category" asp-action="Index" class="btn btn-secondary border form-control">Back to Category List</a>
            </div>
        </div>
    </div>
</form>

 


