@model Company

<form action="Delete" method="post">
    <div class="row">
        <div class="col-10">

            <div class="border border-2 border-secondary p-5">
                <div class="row pb-2">
                    <h2 class="text-primary">Delete Product</h2>
                    <hr class="border-2 border-dark" />
                </div>

                <div asp-validation-summary="All"></div>

                <input asp-for="Id" hidden />

                <div class="mb-3 pt-1 pb-1 row">
                    <label class="form-label">Product Name</label>
                    <input readonly asp-for="Name" type="text" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="mb-3 pt-1 pb-1 row">
                    <label class="form-label">Email</label>
                    <textarea readonly asp-for="Email" class="form-control"></textarea>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="mb-3 pt-1 pb-1 row">
                    <label class="form-label">City</label>
                    <input readonly asp-for="City" type="text" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>

                <div class="mb-3 pt-1 pb-1 row">
                    <label class="form-label">State</label>
                    <input readonly asp-for="State" type="text" class="form-control" />
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>

                <div class="mb-3 pt-1 pb-1 row">
                    <label class="form-label">Street Address</label>
                    <input readonly asp-for="StreetAddress" type="number" step="0.01" class="form-control" />
                    <span asp-validation-for="StreetAddress" class="text-danger"></span>
                </div>

                <div class="mb-3 pt-1 pb-1 row">
                    <label class="form-label">Postal Code</label>
                    <input readonly asp-for="PostalCode" type="number" step="0.01" class="form-control" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>

                <div class="mb-3 pt-1 pb-1 row">
                    <label class="form-label">Phone Number</label>
                    <input readonly asp-for="PhoneNumber" type="number" step="0.01" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                
                <div class="row">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-danger form-control">Delete</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Company" asp-action="Index" class="btn btn-secondary border form-control">Back to Product List</a>
                    </div>
                </div>
            </div>
b
        </div>
 
    </div>
    
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
