@model List<Company>

@{
    ViewBag.Title = "Company List";
}

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
                Company List
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Company" asp-action="Upsert"
               class="btn btn-primary">
                Add Company <i class="bi bi-plus-circle"></i>
            </a>
        </div>
    </div>

    <table id="myTable" class="table table-hover pt-4">
        <thead>
            <tr class="table-primary text-center">
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">PhoneNumber</th>
                <th scope="col">City</th>
                <th scope="col">Address</th>
                <th scope="col">Postal Code</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- Data will be loaded via AJAX -->
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/company.js"></script>
}