@model int

<section class="container pt-4">
    <div class="row">
        <div class="col-12 text-center order-confirmation">
            <h1 class="text-primary" aria-live="polite">
                Order Placed Successfully!
            </h1>
            <p>Your Order Number is: @Model</p>
        </div>
    </div>
</section>

<style>
    .order-confirmation {
        margin: 2rem 0;
    }
</style>